<div class="login">
    <form class="custom-form" [formGroup] = "logUser" (ngSubmit)="login()">
        <h1>Login</h1>
        <input type="email" id="email" placeholder="Correo" required="required" formControlName = "email"/>
        <input type="password" id="password" placeholder="Contraseña" required="required" formControlName = "password"/>
        <button class="custom-button" type="submit">Log in</button>
        <hr>
        <button class="google-login-btn">Login with Google </button>
    </form>
</div>