<div class="text-center my-3">
    <h3>Equipo</h3>
</div>

<div class="row justify-content-center py-3">
    <div class="col-2 text-center">
        <p>Brenda</p>
        <img class="img-responsive imgEquipo my-3" src="assets/images/brenda.jpg">
    </div>
    <div class="col-2 text-center">
        <p>Diego</p>
        <img class="img-responsive imgEquipo my-3" src="assets/images/diego.jpg">
    </div>
    <div class="col-2 text-center">
        <p>Juan Daniel</p>
        <img class="img-responsive imgEquipo my-3" src="assets/images/juand.jpg">
    </div>
    <div class="col-2 text-center">
        <p>Edgar</p>
        <img class="img-responsive imgEquipo my-3" src="assets/images/edgar.jpg">
    </div>
</div>