<section>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="../../assets/Iconos/dedo-con-hilo.svg#svgView(viewBox(0, 0, 700, 500))" width="100.563vw" height="100.563vw">
            <h1 style="font-size: 1.736vw; font-family: 'Comfortaa', cursive;">Recuerdame</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-left: 3.675vw;">
                <a class="nav-link active boton" aria-current="page" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item" style="margin-left: 2.013vw;">
                <a class="nav-link boton" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item" style="margin-left: 2.013vw;">
                <a class="nav-link boton" href="/recordatorios">Recordatorios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</section>

<!-- <section style="height: 61px; display: flex; align-items: center;" >
    <div style="display: flex; align-items: center; margin-left: 5.555vw; font-family: 'Comfortaa', cursive;">
        <img src="../../assets/Iconos/dedo-con-hilo.svg#svgView(viewBox(0, 0, 700, 500))" width="100.563vw" height="100.563vw">
        <h1>Recuerdame</h1>
    </div>
    <div style="margin-left: 3.675vw;">
        <button class="boton">Inicio</button>
        <button class="boton" style="margin-left: 2.013vw;">Nosotros</button>
        <button class="boton" style="margin-left: 2.013vw;">Recordatorios</button>
    </div>
</section>
 -->
