<section style="display: flex; align-items: center; background-color: rgb(73, 73, 190); justify-content: space-around;">
    <div>
        <img src="../../assets/Iconos/dedo-con-hilo.svg#svgView(viewBox(0, 0, 700, 500))" style="height: 10.027vw; width: 10.831vw; margin-right: 1.041vw; position: relative; bottom: 5px;">
        <h1 style="font-family: Montserrat, sans-serif; float: right;"></h1>
    </div>
    <div>
        <h2 class="TextoFooter boton">¡Síguenos!</h2>
    </div>
    <div class="TextoFooter" style="text-align: left;">
        <h2>Derechos de autor</h2>
        <h2>Términos Y Condiciones</h2>
    </div>
    <div class="TextoFooter" style="text-align: left;">
        <h2>Aviso de Privacidad</h2>
    </div>
</section>